{{ define "main" }}

<style>
  .container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }
  #quoteList ul {
    padding: 0;
    list-style: none;
  }

  .quote {
    padding: 10px;
    background: #f1f1f1;
    margin-bottom: 20px;
  }
</style>

<section id="glossary" class="m-top-100">
  <div class="container">
    <h2>aaaa</h2>
    <table>
      {{ range $.Site.Data.glossary }}
      <tr>
        <td>
          {{ .term }}
        </td>
        <td>
          {{ .desc }}
        </td>
      </tr>
      {{ end }}
    </table>
  </div>
</section>

{{end}}
