{{ define "main" }}
<section id="archive">
    {{ range .Data.Pages.GroupByDate "2006" }}
        <div class="group">
            <h3 class="key">
                {{ .Key }}
            </h3>

            {{ range .Pages }}
                <div class="value">
                  <div class="date">
                    <time datetime="{{ .PublishDate }}">{{ i18n "publishDateShort" . }}</time>
                  </div>
                  <div class="title">
                      <a href="{{ .Permalink }}">
                          <b>{{ .Title }}</b>
                      </a>

                  </div>
                </div>
            {{ end }}          
        </div>
    {{ end }}


</section>


{{ end }}