{{ define "main" }}

<style>
  .quote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 0 15px 15px 0;
    margin-bottom: 50px;
  }

  .qoute p {
    margin-bottom: 0px;
  }

  .container {
    width: 100%;
    max-width: 700px;
    margin: 100px auto;
  }
</style>

<section>
  <div class="container">
    {{ range $.Site.Data.quotes }}
    <div class="quote">
      <blockquote>
        <p style="font-size: 25px">"{{ .quote }}"</p>
      </blockquote>
      <p class="text-mono" style="margin: 0">{{ .source }}</p>
    </div>
    {{ end }}
  </div>
</section>

{{end}}
