{{ define "main" }}
<style>
  header {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

header h1 {

  font-size: calc(16px + 8vw);
  color: white;
  z-index: 9;
}

#foil {
  background: black;
  opacity: 0.4;
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  height: 100%;
}

</style>

<header style="background-image: url({{ .Params.featured_image }})">
  <div id="foil"></div>
  <h1 class="p-top-15 text-center">{{ .Title }}</h1>
  
</header>
  

    <section id="single" style="margin-top: 75px;">
      <div id="single-grid">
        <div>
        <div style="position: sticky; top:0;" id="toc">
          {{ .TableOfContents }}
        
          {{ if or .Site.Params.showToc .Params.showToc }}
              {{ partial "toc.html" . }}
          {{ end }}
        
        </div>
      </div>

        <div class="content" style="padding-top:75px;">
          {{ .Content }}
        </div>

    </div> 

    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
                <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        </div>
    {{ end}}
    
    {{ partial "comment.html" . }}
   
</section>

{{ end }}


