{{ define "main" }}

<style>
  #ontechnologyheader {
    width: 100%;
    height: 70vh;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  #ontechnologyheader input {
    font-size: calc(16px + 3vw);
    background: white;
    border: 0;
    width: 100%;
    max-width: 1000px;
    padding: 10px 20px;
    outline: none;
  }
</style>

<header id="ontechnologyheader">
  <input type="text" placeholder="Search..." />
</header>

<div id="list-page">
  {{ $pages := .Site.RegularPages }} {{ $paginator := .Paginate ($pages) }} {{
  range (where .Site.RegularPages "Type" "in" "posts") }}

  <article class="list-page-item">
    {{ $title := .Title }} {{ $summary := .Summary }} {{ $image :=
    .Params.featured_image }} {{ if .Draft }}
    <div class="badge-draft">draft</div>
    {{ end }}

    <a href="{{ .RelPermalink }}" style="margin-bottom: 10px">
      <img style="width: 100%" src="{{ $image }}" />
    </a>

    <div class="list-page-item-meta" style="padding: 10px; background: #f1f1f1">
      <h4 class="title m-bot-10" style="">{{ $title }}</h4>
      <p datetime="{{ .PublishDate }}">{{ i18n "publishDate" . }}</p>
      <p>{{ .Summary }}</p>
    </div>
  </article>

  {{ end }} {{ if or ($paginator.HasPrev) ($paginator.HasNext) }}
  <div class="pagination">
    {{ if $paginator.HasPrev }}
    <span class="prev">
      <a href="{{.Paginator.Prev.URL}}">
        <span class="arrow">←</span> {{ with .Site.Params.newerPosts }}{{ . }}{{
        else }}{{ i18n "postsNewer" }}{{ end }}
      </a>
    </span>
    {{ end }} {{ if $paginator.HasNext }}
    <span class="next">
      <a href="{{.Paginator.Next.URL}}">
        {{ with .Site.Params.olderPosts }}{{ . }}{{ else }}{{ i18n "postsOlder"
        }}{{ end }} <span class="arrow">→</span>
      </a>
    </span>
    {{ end }}
  </div>
  {{ end }}
</div>

{{ end }}
